<ion-header class="home--header">
  
  <div class="home--header-logo-container" [routerLink]="homeRoute">
    <div class="home--header-logo">
      <img src="assets/logo.svg">
    </div>
    <span>Marketplace</span>
  </div>
  <div class="home--header-searchbar">
    <form class="home--header-searchbar-container">
      <ion-select interface="popover" placeholder="Select Category" [value]="searchCategory" (ionChange)="updateSearchCategory($event)">
        <div class="home--header-searchbar-category-option" *ngFor="let category of productCategories">
          <ion-select-option [value]="category">{{ toTitleCase(category.split("_").join(" ")) }}</ion-select-option>
        </div>
      </ion-select>
      <input (keyup)="updateSearchQuery($event)" [value]="searchQuery">
      <button type="submit" (click)="search()">
        <ion-icon name="search-circle-outline"></ion-icon>
      </button>
    </form>
  </div>
  <div class="home--header-actions-container">
    <ion-icon name="list-circle-outline" title="Orders"></ion-icon>
    <ion-icon id="home--header-actions-account" class="home--header-actions-account" name="person-circle-outline" title="Account"></ion-icon>
    <ion-popover class="home--header-actions-account-popover" trigger="home--header-actions-account" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          <span>You are currently viewing as {{getToken() == null ? "guest" : getToken()?.firstName + " " + getToken()?.lastName}}</span>
          <ion-button *ngIf="getToken() == null" expand="block" (click)="accountPopoverSignInButtonClicked()">Sign In</ion-button>
          <ion-button *ngIf="getToken() != null" expand="block" (click)="handleSignOut()">Sign Out</ion-button>
        </ion-content>
      </ng-template>
    </ion-popover>

    <ion-icon name="cart-outline" class="home--header-actions-container-filled-icon" title="Cart" [routerLink]="cartRoute"></ion-icon>
  </div>

</ion-header>

<ion-content> 
  <ion-router-outlet id="main" [animated]="true"></ion-router-outlet>
</ion-content> 
