.sign-in--form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 20px;
}

.sign-in--form{
    padding: 50px 40px;
    // border: 1px solid lightgray;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 20px;
}

.sign-in--form-label{
    font-size: 24px;
}


.sign-in--form ion-item{
    --padding-start: 0;
}

.sign-in--form-logo-container{
    display: flex;
    justify-content: center;
}

.sign-in--form-logo-container img {
    width: 100px;
}

.sign-in--form-alternatives{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sign-in--form-sign-in-text, .sign-in--form-forgot-password-text{
    color: var(--ion-color-primary);
    text-decoration: underline;
    cursor: pointer;
}

.sign-in--form-continue-as-guest{
    padding-top: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
    color: var(--ion-color-primary);
}


.sign-in--form-continue-as-guest span {
    cursor: pointer;
}

.sign-in--form-continue-as-guest ion-icon{
    padding-top: 4px;
    font-size: 18px;
}