<ion-content class="sign-in">
  <div class="sign-in--form-container">
    <form class="sign-in--form" (ngSubmit)="!isSignUp ? handleSignIn() : handleSignUp(); submissionAttempted = true">
        <div class="sign-in--form-logo-container">
          <img src="assets/logo.svg">
        </div>
        <div class="sign-in--form-label">
          <div>
            Sign <span *ngIf="!isSignUp">In</span> <span *ngIf="isSignUp">Up</span>
          </div>
        </div>
        <app-input [disabled]="isSubmitting" [errorMessage]="form.errors.email ?? ''" label="Email" (change)="typeof($event) === 'string' && form.values.email = $event; submissionAttempted && updateErrors()"></app-input>
        <app-input [disabled]="isSubmitting" type="password" [errorMessage]="form.errors.password ?? ''" label="Password" (change)="typeof($event) === 'string' && form.values.password = $event ; submissionAttempted && updateErrors()"></app-input>
        <ion-button type="submit" expand="block" (click)="!isSignUp ? handleSignIn() : handleSignUp()" [disabled]="isSubmitting">
          <span *ngIf="!isSignUp">Sign In</span>
          <span *ngIf="isSignUp">Sign Up</span>
        </ion-button>
        <button class="sign-in--form-submit-button" type="submit" [disabled]="isSubmitting"></button>
        <div class="sign-in--form-alternatives">
          <div>
            <span *ngIf="!isSignUp">Not yet</span><span *ngIf="isSignUp">Already</span><span> a member? </span>
            <span class="sign-in--form-sign-in-text" *ngIf="!isSignUp" (click)="isSignUp = true">sign up</span>
            <span class="sign-in--form-sign-in-text" *ngIf="isSignUp" (click)="isSignUp = false">sign in</span>
          </div>
          <div>
            <span class="sign-in--form-forgot-password-text">forgot password</span>
          </div>
          <div class="sign-in--form-continue-as-guest">
            <span [routerLink]="homeRoute">Continue as Guest </span> <ion-icon name="arrow-forward-outline"></ion-icon>
          </div>
        </div>
      </form>
  </div>
</ion-content>
